[Unit]
Description=Webhooker daemon
After=syslog.target

[Service]
Type=simple
User={{webhooker_user}}
Group={{webhooker_group}}
WorkingDirectory={{webhooker_working_dir}}
Environment="PYTHONUNBUFFERED=1"
ExecStart={{webhooker_working_dir}}webhooker.py --port=8997

[Install]
WantedBy=multi-user.target